* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  height: 100%;
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
#header {
  border-bottom: 1px solid #DDD;
  height: 47px;
  flex: 0 0 auto;
  padding: 10px;

  h1 {
    font-size: 20px;
    margin: 0;
  }
}
#app {
  flex: 1;
  width: 100%;
}
.container {
  display: flex;
  height: 100%;
}
aside {
  flex: 1 1 auto;
  height: 100%;
  position: relative;
}
#map {
  height: 100%;
  width: 100%;
}
main {
  background-color: #ffffff;
  flex: 0 0 500px;
  z-index: 200;
}